@import '@/styles/colors';
@import '@/styles/global.scss';
@import '@/styles/fonts';
@import '@/styles/breakpoints';

.perfilContainer,
.dataContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.perfilContainer {
  margin-right: 10px;
  padding: 5px;
  width: 100%;
  min-width: 300px;
  position: relative;
  @include md {
    width: 35%;
  }
}

.dataContainer {
  position: relative;
  @include md {
    margin-top: 0;
    width: 65%;
  }
}

.componentContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  // width: 100%;
}

.componentTitle {
  font-size: 18px;
  font-family: $fontOpenSans;
  font-weight: 700;
  color: $gray2;
}

.collapseBtn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  justify-content: start;

  font-family: $fontPoppins;
  font-size: 18px;

  &:hover {
    color: rgb(110, 110, 110);
  }
}

.sortableList {
  li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
  }
}

.btnAdd {
  color: $colorPrimary;
  margin-top: 5px;
  border-radius: 10px;
  :global {
    .MuiListItemIcon-root {
      color: $colorPrimary;
    }
  }
}

.noFilesMsg {
  @extend %emptyListSpan;
  height: auto;
}

.layerRow {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 300px;

  @include md {
    flex-direction: row;
  }
  .layerInput {
    margin-top: auto;
  }
}

.layerInput {
  margin: 5px;
  margin-right: 10px;
  margin-top: 10px;
  width: fit-content;
  min-width: 50px;
  @include md {
    min-width: 200px;
  }
}

.geologicTextureWrapper {
  flex-direction: row;
  align-items: center;
  display: inline-flex;
}

.helpText {
  color: $gray1;
  font-family: $fontOpenSans;
  font-size: 11px;
}

.radioInput {
  margin-top: 10px;
  margin: 5px;
  legend {
    font-size: 12px;
  }
}

.radioEA {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.inputContainers {
  height: 100%;
  overflow-y: auto;
}
