@import 'tailwindcss';

@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@theme {
  --color-content-0: var(--w-content-0);
  --color-content-50: var(--w-content-50);
  --color-content-100: var(--w-content-100);
  --color-content-200: var(--w-content-200);
  --color-content-300: var(--w-content-300);
  --color-content-400: var(--w-content-400);
  --color-content-500: var(--w-content-500);
  --color-content-600: var(--w-content-600);
  --color-content-700: var(--w-content-700);
  --color-content-800: var(--w-content-800);
  --color-content-900: var(--w-content-900);
  --color-content-950: var(--w-content-950);
}
