@import '../../styles/colors';
@import '../../styles/app.global.scss';
@import '../../styles/fonts';
@import '../../styles/breakpoints';
.tooltip {
  z-index: 3000;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: fit-content;
  max-width: 200px;
  font-family: $fontOpenSans;
  box-shadow: 0 3px 10px rgba(66, 66, 66, 0.384);
  display: flex;
  flex-direction: column;
  color: $gray2;
  background: white;
  border-radius: 5px;
  padding: 10px;
  .title {
    font-size: 12px;
    text-transform: uppercase;
    font-family: $fontPoppins;
    letter-spacing: 0.2em;
    font-weight: 700;
    color: $colorPrimaryDark;
    margin-bottom: 5px;
  }
  .primaryInfo {
    font-size: 14px;
    font-weight: 600;
  }
  .secondaryInfo {
    font-size: 12px;
    strong {
      font-size: 12px;
      font-weight: 600;
    }
  }
}

.svgContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.noFilesMsg {
  @extend %emptyListSpan;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yAxis {
  font-family: $fontOpenSans;
  color: $gray1;
  font-weight: 700;
}
