@import '@/styles/fonts';
@import '@/styles/colors';
@import '@/styles/breakpoints';
@import '@/styles/global.scss';

.logo {
  height: 30px;
  width: auto;
}

.title {
  @extend %titles;
  color: $gray2;
  margin-left: 15px;
  font-weight: 700;
  font-size: 24px;
}

.logoContainer,
.logoContainer a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btnsContainer {
  display: flex;
  margin-right: 5px;
  gap: 5px;
}
