@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/breakpoints';
@import '../../styles/app.global.scss';
.root {
  height: auto;
  min-height: 5%;
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  @include md {
    height: 5%;
  }
}

.logo {
  height: 30px;
  width: auto;
}

.title {
  @extend %titles;
  color: $gray2;
  margin-left: 15px;
  font-weight: 700;
  font-size: 24px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btnsContainer {
  display: flex;
  margin-right: 5px;
  gap: 5px;
}
