@import 'sass-material-colors';

$colorPrimary: #02355a;
$colorPrimaryDark: #001537;

$colorSecondary: #ff9e2e;
$colorSecondaryLight: #ffcf60;
$colorSecondaryDark: #c66f00;

$red: #ed0735;
$redLight: #ff585f;
$redDark: #b2000f;

$gray1: #76777b;
$gray2: #54575c;

$error-light: #e57373;
$error-main: #f44336;
$error-dark: #d32f2f;

$warning-light: #ffb74d;
$warning-main: #ff9800;
$warning-dark: #f57c00;

$info-light: #64b5f6;
$info-main: #2196f3;
$info-dark: #1976d2;

$sucess-light: #81c784;
$sucess-main: #4caf50;
$sucess-dark: #388e3c;

/* Color Theme Swatches in Hex */
$Cópia-de-Azul-1-hex: #001537;
$Cópia-de-Azul-2-hex: #02355a;
$Cópia-de-Azul-3-hex: #d9ecf0;
$Cópia-de-Azul-4-hex: #a5d1d9;
$Cópia-de-Azul-5-hex: #4e5b6b;
